<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="style.css">
        <title>Success Page</title>
    </head>
    <body>
        <header class="header">
            <h1 class="logo"><a href="#">Memory Collector</a></h1>
            <ul class="main-nav">
                <li><a href="/">Home</a></li>
                <li><a href="/seeLogsTime">See Memories</a></li>
            </ul>
        </header> 
        <div class="section">
            <h1>Memory Saved!</h1>
            <form action="/seeLogsTime" method="get">
                <button type="submit">See Memories</button>
            </form>
        </div>
    </body>
</html>